# prerequisite => file format: unix (EOL=<LF>)
AUTHOR_EMAIL="zaugg84@gmail.com"
AUTHOR_NAME="Sven Zaugg"
LICENSE="MIT"
REGISTRY_URL="https://npm.pkg.github.com/svensson84"
REGISTRY_PR_URL="npm.pkg.github.com"
TOKEN="*********************"